body {
    background-color: lightgrey;
    font-family: liberation;
    display:flex;
    flex-direction:column;
    gap:0px;
}

#plus {
    mix-blend-mode:normal;
}

.nav {
    mix-blend-mode: normal;

}

.nav-center {
    width: 100%;
    text-align: center;
    align-content: center;
}

.nav-filter {
    color:white;
    background-color:rgb(40, 40, 40);
    display:flex;
    flex-direction:column;
    align-content: center;

    position:sticky;
    top:0px;

    width:100%;
}

.main::-webkit-scrollbar {
    display:none;
}

.content {
    display:none;
}

/* The "show" class is added to the filtered elements */
.show {
    display: block;
  }

.btn {
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-transform: uppercase;
    font-weight:bold;
    border:none;

    padding:1em;
    cursor:pointer;
    background-color: lightgrey;
    
}

.btn:hover {
    background-color:white;
}

/* .btn.active {
    background-color:red;
} */


.nav-bot-left {
    width: 20%;
}

.nav-bot-right {
    width: 100%;
}

.nav-2 {
    margin-top: 5px;
    background-color: rgb(40, 40, 40);
}

.side,
.main {
    mix-blend-mode: normal;
    margin-top:0px;
    padding-top:5px;
}


.main {
    width: 200px;
    mix-blend-mode: normal;
    overflow: auto;

}

.main h3 {
    font-weight:normal;
    font-style:italic;
}

.main p {
    text-indent: unset;
    padding-left: 30px;
    padding-top:0px;
    margin-top:10px;

    
    overflow-wrap:break-word;

    margin-left:auto;
    margin-right:auto;


    line-height:3rem;
}

.main h1 {
    text-align: center;
    text-align-last: center;
    word-wrap: break-word;
}

.highlight-white {
    background-color: rgba(211, 211, 211, 0.5);
    line-height: 2.4rem;

}

.main .highlight-white:hover {
    background-color: white;
    mix-blend-mode: normal;
}

.side {
    flex:1;
    gap:0;
    overflow-y:scroll;
}

details {
    margin-left: auto;
    margin-right: auto;
    width: 80%;
    text-decoration: none;
    color: white;
    background-color: rgb(40, 40, 40);


    margin-left: auto;
    margin-right: auto;
    width: 100%;

    background-color: olive;
    
    cursor: pointer;
}

details summary::marker {
    display: none;
    content: "";
}

details[open] summary ~ * {
  }
  
  @keyframes summary-open {
    0%    {opacity: 0; margin-left: -10px}
    100%  {opacity: 1; margin-left: 0px}
  }

.texts-title {
    font-family: phili;
    font-size: 2rem;
    text-transform: uppercase;

    background-color:rgb(40, 40, 40);
    mix-blend-mode: screen;

    text-align: justify;
    text-align-last: justify;

    padding-top: 5px;
    padding-left:10%;
    padding-right:10%;


    font-family: phili;
    letter-spacing: .05rem;

    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;

}

.texts-author {
    background-color: white;
    color: rgb(40, 40, 40);


    mix-blend-mode: screen;
    text-align: center;

    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.texts-details {
    background-color: white;
    background-image:linear-gradient(to right, white, lightgrey);

    mix-blend-mode: screen;

    color: rgb(40, 40, 40);
    font-size: 1.5rem;
    text-indent: -10%;
    padding-left: 10%;
    padding-right:10%;
    padding-bottom:5px;
    

}

.texts-details p {
    margin-bottom:0;
    margin-top:0;

    /* padding:30px; */
}

.read {
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight:bold;
    font-size:1rem;
    vertical-align: 2px;

    background-color:rgb(40, 40, 40);
    color:white;
    text-decoration:none;
}

.read:hover {
    background-color:white;
    color:rgb(40, 40, 40);
}


#texts-goodspeed {
    background-color:olive;
}
#texts-debord {
    background-color:darkmagenta;
}
#texts-geller {
    background-color:rgb(50, 88, 185);
}
#texts-malcontent {
    background-color:brown;
}

