html, body {
    overflow: hidden;
  }

body {

    height: 100vh;
    width: 100vw;


    font-family: sans-serif;
    overflow:hidden;

    padding:0;
    margin:0;
    background-color:darkblue;
}

.container {
    display: flex;
    justify-content:space-between;
    /* gap: 10px; */
    height:100%;
}

h1, h2, h3 {
    background-color:white;
    text-align:center;
}

h1 {
    text-transform: uppercase;
    margin-top:0;
    position:sticky;
    top:0px;

    background-color:black;
    color:white;
}

a h1:hover {
    color:lightgrey;
}


.main {

    box-sizing:border-box;
    width:70%;
    height: 100vh;
    background-color: lightgrey;
    
    margin:0;
    padding:30px;
    box-sizing: border-box;

    overflow:scroll;
}


.main a {
    text-decoration:none;
    color:inherit;
}

.main a:hover {
    background-color:black;
}


#top {
    scroll-margin-top:30px;
}


.side {
    box-sizing:border-box;
    width:30%;
    background-color: lightgrey;
    height: 100%;
    margin:0;
    padding:30px;

    display:flex;
    flex-direction:column;
    gap:10px;

    overflow-y: scroll;
    scroll-behavior: smooth;
}

.side-inner {
    background-color:white;
    box-sizing:border-box;
    padding:20px;
    scroll-margin-top:30px;


}

.side-inner p {
    margin-top:0;
    margin-bottom:0;
}

.side-inner a {
    text-decoration:underline;
    color:inherit;
}
.side-inner a:hover {
    font-style: italic;
}

.side-inner img {
    width:100%;
}

.og {
    background-color:black;
    color:white;
}


.highlight-yellow {
    background-color:yellow;
}

.main .highlight-yellow:hover {
    color:yellow;
}

.personal {
    background-color:darkorange;
}

.main .personal:hover {
    color:darkorange;
}

#personal-1 {
    scroll-margin-top:30px;
}

.highlight-blue {
    background-color:lightskyblue;
}

.main .highlight-blue:hover {
    color:lightskyblue;
}