@font-face {
    font-family: phili;
    src: url(fonts/PhiliItaRus.ttf);
}

@font-face {
    font-family: liberation;
    src: url(fonts/LiberationSans-Regular.ttf);
}


html, body {
    /* overflow: hidden; */
    margin:0;
    padding:0;
  }


body {

    height: 100vh;
    width: 100vw;

    overflow:hidden;


    font-family: liberation;

    display:flex;
    flex-direction:column;
    gap:0;

    background-color:olive;
    /* background-image:url("bg-test-2.png"); */
    /* background-size:cover;
    background-position:center; */
    /* background-blend-mode:screen; */
}


.nav {
    color:white;
    background-color:rgb(40,40,40);
    mix-blend-mode:screen;
    font-family:sans-serif;

    text-align:center;
    text-transform:uppercase;
    
    height:25px;

    display: flex;
    justify-content:space-around;

    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.nav-left {
    width:60%;
    align-content:center;
}
.nav-right {
    width:40%;
    align-content:center;
}

.main::-webkit-scrollbar {
    width: 5px;    
    height:100%;  
}


.main::-webkit-scrollbar-track {
    background: none;
}


.main::-webkit-scrollbar-thumb {
    background-color: rgb(40,40,40);
    border-radius: 0px;  
}


.side::-webkit-scrollbar {
    display:none;
}



.container {
    flex:1;
    min-height: 0;
    display: flex;
    justify-content:space-between;

    width:100%;
    
    margin:auto;
    padding:0;
    box-sizing:border-box;


}

.container::selection {
    background-color:white;
}

#plus {
    position: absolute;
    top: 0px;
    right: 0px;
    height: 25px;
    width: 28px;
    align-content: center;

    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: white;
    color: rgb(40, 40, 40);

    border:none;

    margin:0;
    padding-right: 10px;
    padding-left: 10px;

    cursor:pointer;

    mix-blend-mode:screen;

    z-index:5;
}

#plus:hover {
    background-color:lightgrey;
}


#about {
    box-sizing:border-box;
    height:fit-content;
    padding-top:5px;
    margin-bottom:0px;

    background-color:lightgrey;
    background-image:linear-gradient(to top, white, lightgrey);
    color:black;

    display:none;
    

}

#about p {

    font-family:liberation;
    font-size:1.5rem;
    text-align:left;

    width:95%;
    padding-left: 30px;
}

.main {

    box-sizing:border-box;
    width:60%;
    height:100%;
    background-color: lightgrey;
    background-image: linear-gradient(to right, white , lightgrey);
    
    margin:0;
    padding:0px;
    padding-top:5px;
    box-sizing: border-box;

    mix-blend-mode:screen;

    overflow:scroll;
    scroll-behavior: smooth;
}

.main h1 {
    text-transform: uppercase;
    margin-top:0;
    position:sticky;
    top:0px;

    background-color:rgb(40,40,40);
    color:white;
    text-align: justify;
    text-align-last: justify;

    width:80%;
    padding-top:5px;
    padding-left:10%;
    text-indent:-10%;

    font-family:phili;
    letter-spacing:.05rem;


}

.main h2 {
    background-color:white;
    text-align:left;

    width:80%;
    padding-left:10%;
}

.main h3 {
    background-color:white;
    text-align:center;

    width:80%;
    padding-left:10%;
}

.main a h1:hover {
    color:lightgrey;
}

.main p {
    font-size:1.5rem;
    text-align:left;

    width:80%;
    padding-left:10%;
    text-indent: -10%;

    color:rgb(40,40,40);


}

.main a {
    text-decoration:none;
    color:inherit;
}

.main a:hover {
    background-color:rgb(40,40,40);
}


#top {
    scroll-margin-top:5px;
}


.side {
    box-sizing:border-box;
    width:40%;
    background-color: lightgrey;
    background-image: linear-gradient(to right, white , lightgrey);
    height: 100%;
    margin:0;
    padding:0;
    padding-top:5px;

    scroll-margin-top:5px;

    display:flex;
    flex-direction:column;
    gap:10px;

    mix-blend-mode:screen;

    overflow-y: scroll;
    scroll-behavior: smooth;
    
}

.side-inner {
    mix-blend-mode:multiply;
    box-sizing:border-box;
    padding:30px;
    padding-left:5px;
    padding-top:5px;

    color:rgb(40,40,40);

    display:flex;
    flex-direction:row;
    gap:10px;

    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    /* font-size:.8rem; */
    /* line-height:1rem; */

}

.side-inner p {
  
    margin-top:0;
    margin-bottom:0;
    
}


.side-inner a {
    text-decoration:underline;
    color:inherit;
}
.side-inner a:hover {
    font-style: italic;
}

.side-inner img {
    width:100%;
}

.og {
    background-color:rgb(40,40,40) !important;
    color:white !important;

}

.main .highlight {
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size:1rem;
    font-weight:bold;
    padding:1rem;
    mix-blend-mode:multiply;
    text-transform:uppercase;

    cursor:pointer;
}
.main .highlight:hover {
    /* mix-blend-mode:color-burn; */
}

.highlight-yellow {
    background-color:yellow;
}


.main .highlight-yellow:hover {
    color:yellow;
}

.side .highlight {
    background:none;
    
}

.side .highlight-yellow p {
    background-color:yellow;
}


.personal {
    background-color:darkorange;
}

.main .personal:hover {
    color:darkorange;
}

.side .personal p {
    background-color:darkorange;
}

.personal-text {
    margin-left:-10px;
}

.highlight-blue {
    background-color:lightskyblue;
}
.side-inner.highlight-blue {
    background-color:lightskyblue !important;
    display:block;
    scroll-margin-top:5px;
}

.highlight-blue-text {
    display:flex;
    flex-direction:row;
    gap:10px;
}

.main .highlight-blue:hover {
    color:lightskyblue;
}

.highlight-green {
    background-color:lightgreen;
}


.main .highlight-green:hover {
    color:lightgreen;
}

.side .highlight {
    background:none;
    
}

.side .highlight-green p {
    background-color:lightgreen;
}

.small-caps {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-transform:uppercase;
    font-weight:bold;
    word-wrap: break-word;
    hyphens:auto;
    min-width:100px;
    max-width:100px;
    height:fit-content;
    /* background-color:inherit; */
}

.quote-indent {
    padding-left:50px;
    font-family:phili;
    line-height:1.1rem;
}

