@font-face {
    font-family: phili;
    src: url(fonts/PhiliItaRus.ttf);
}

@font-face {
    font-family: liberation;
    src: url(fonts/LiberationSans-Regular.ttf);
}

@font-face {
    font-family: waxwing;
    src: url(fonts/Waxwing-Regular.ttf);
}

html, body {
    overflow: hidden;
    margin:0;
    padding:0;
  }

.nav {
    color:white;
    background-color:black;
    mix-blend-mode:screen;
    font-family:sans-serif;
    height:3%;
    text-align:center;
    text-transform:uppercase;
    

    display: flex;
    justify-content:space-around;

    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.nav-left {
    width:60%;
    align-content:center;
}
.nav-right {
    width:40%;
    align-content:center;
}

.main::-webkit-scrollbar {
    width: 5px;    
    height:100%;  
}


.main::-webkit-scrollbar-track {
    background: none;
}


.main::-webkit-scrollbar-thumb {
    background-color: black;
    border-radius: 0px;  
}


.side::-webkit-scrollbar {
    display:none;
}



body {

    height: 100vh;
    width: 100vw;

    overflow:hidden;


    font-family: liberation;

    /* display:flex;
    flex-direction:column;
    gap:0; */

    background-color:olive;
    /* background-image:url("bg-test-2.png"); */
    /* background-size:cover;
    background-position:center; */
    /* background-blend-mode:overlay; */
}



.container {
    display: flex;
    justify-content:space-between;
    /* gap: 5px; */

    height:94%;
    width:100%;
    
    margin:auto;
    padding:0;
    box-sizing:border-box;

}

.container::selection {
    background-color:white;
}


.main h1 {
    text-transform: uppercase;
    margin-top:0;
    position:sticky;
    top:0px;

    background-color:black;
    color:white;
    text-align-last: justify;

    width:80%;
    padding-top:5px;
    padding-left:10%;
    text-indent:-10%;

    font-family:phili;
    letter-spacing:.05rem;

}

.main h2 {
    background-color:white;
    text-align:left;

    width:80%;
    padding-left:10%;
}

.main h3 {
    background-color:white;
    text-align:center;

    width:80%;
    padding-left:10%;

    

}

.main a h1:hover {
    color:lightgrey;
}


.main {

    box-sizing:border-box;
    width:60%;
    height:100%;
    background-color: lightgrey;
    background-image: linear-gradient(to right, white , lightgrey);
    
    margin:0;
    padding:0px;
    padding-top:5px;
    box-sizing: border-box;

    mix-blend-mode:screen;

    overflow:scroll;
    scroll-behavior: smooth;
}

.main p {
    font-size:1.5rem;
    text-align:left;

    width:80%;
    padding-left:10%;
    text-indent: -10%;


}

.main a {
    text-decoration:none;
    color:inherit;
}

.main a:hover {
    background-color:black;
}


#top {
    scroll-margin-top:5px;
}


.side {
    box-sizing:border-box;
    width:40%;
    background-color: lightgrey;
    background-image: linear-gradient(to right, white , lightgrey);
    height: 100%;
    margin:0;
    padding:0;
    padding-top:5px;

    scroll-margin-top:5px;

    display:flex;
    flex-direction:column;
    gap:10px;

    mix-blend-mode:screen;

    overflow-y: scroll;
    scroll-behavior: smooth;
    
}

.side-inner {
    mix-blend-mode:multiply;
    box-sizing:border-box;
    padding:30px;
    padding-left:5px;
    padding-top:5px;



    display:flex;
    flex-direction:row;
    gap:10px;

    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    /* font-size:.8rem; */
    /* line-height:1rem; */

}

.side-inner p {
  
    margin-top:0;
    margin-bottom:0;
}


.side-inner a {
    text-decoration:underline;
    color:inherit;
}
.side-inner a:hover {
    font-style: italic;
}

.side-inner img {
    width:100%;
}

.og {
    background-color:black !important;
    color:white !important;

}

.main .highlight {
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size:1rem;
    font-weight:bold;
    padding:1rem;
    mix-blend-mode:multiply;
    text-transform:uppercase;
}
.main .highlight:hover {
    /* mix-blend-mode:color-burn; */
}

.highlight-yellow {
    background-color:yellow;
}


.main .highlight-yellow:hover {
    color:yellow;
}

.side .highlight {
    background:none;
    
}

.side .highlight-yellow p {
    background-color:yellow;
}


.personal {
    background-color:darkorange;
}

.main .personal:hover {
    color:darkorange;
}

.side .personal p {
    background-color:darkorange;
}


.highlight-blue {
    background-color:lightskyblue;
}
.side-inner.highlight-blue {
    background-color:lightskyblue;
    display:block;
    scroll-margin-top:5px;
}

.highlight-blue-text {
    display:flex;
    flex-direction:row;
    gap:10px;
}

.main .highlight-blue:hover {
    color:lightskyblue;
}

.highlight-green {
    background-color:lightgreen;
}


.main .highlight-green:hover {
    color:lightgreen;
}

.side .highlight {
    background:none;
    
}

.side .highlight-green p {
    background-color:lightgreen;
}

.small-caps {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-transform:uppercase;
    font-weight:bold;
    word-wrap: break-word;
    hyphens:auto;
    width:20%;
    height:fit-content;
    /* background-color:inherit; */
}

.quote-indent {
    padding-left:40px;
    font-family:phili;
    line-height:1.1rem;
}